.footer{
    background-color: #656565;
}
.footer-content{
    color: white
}

.footer-content .row{
    padding-top: 40px;
}

.footer-content li{
    list-style-type: none;
}

.footer-content ul{
    padding-top: 10px;
}

.footer-content img{
    width: 80%;
    padding-bottom: 20px;
}